Here i will gather the required data from the different sources. My different sources are:
API, .csv, .tsv.  
- the csv is loaded through read_csv method
- the tsv is downloaded programmatically
- the api data is queried and saved



#### Quality Issues:
##### `twitter_archive_df` table
- Remove tweets that are replies or retweets
- Missing information (expanded_urls)
- Entry as `None` instead of NaN (dog stage variables, name)
- Erroneous datatypes (tweet_id)
- Incorrect value of rating denominator (must be always = 10, not 0 or 170)
- Invalid entries in name column ('a','the',etc.).
- Remove tweets that are not about dogs.

##### `image_predictions_df` table
- Erroneous datatypes (tweet_id)
- Algorithm outcome is present. #not solving this because doesn't make sense
- Inconsistency in font (p1,p2,p3)



#### Tidiness Issues:
- One variable in four columns in `twitter_archive_df` table (doggo, floofer, puppo and pupper).
- `twitter_api_df` table should be a part of `twitter_archive_df` table.
- Single column to reflect dog ratings [rating_numerator/rating_denominator] in the `twitter_archive_df` table.
- Remove columns from `twitter_archive_df` table (source, expanded_urls,timestamp).

Wherever the retweet id or reply param is populated remove that observation row.

###### *The columns related to replies and retweets are not needed anymore as they only contain null values now.*

Set the None values to np.nan in all the 4 dog stage columns.


Convert the datatype of tweet_id column to string or object type instead of int, since no calculations are to be done on this numerical data.

The value of denominator should ideally be 10 but it is not in all observstions because some pictures contain more than 1 dog. To fix this find out the number of dogs in a pic and then divide numerator and denominator by that number. We can temporarily combine image number, tweet id and rating denominator, numerator columns and do the calculation.
The text contains the correct rating as there are some images in the tweet where there is more than one dog , so the ratings are inflated and can be corrected by dividing the numerator and denominator by the number of dogs.

Temporarily combine columns tweet id, text, rating denominator and rating numerator columns for all the rows where rating denominator is not equal to 10. As per the text, wherever the rating numerator and denomiator have been noted incorrectly, manually correct it. In the other places where there is more than one dog in the tweet, caluculate the multiplier for the denominator (which is divisible by 10) and the new numerator value will be current numerator divided by multiplier.

There are some images in the tweet where there is more than one dog , so the ratings are inflated and can be corrected by dividing the numerator and denominator by the number of dogs.
Calculate the numerator and denominator values for the tweets where there more than one dog in the tweet image.


Most of the names can be extracted from the text given. It requires some complex regex pattern and not all text columns contain dog name.
First find the rows with invalid names, then from the text extract their names.

Find the rows with invalid names by checking for the name  entirely in lowercase. Then apply regex on the text columns of these rows to extract the correct names if present. The most common regex patters observed are:

- This is [name].
- His name is [name].
- This is named [name].

Find the rows with invalid names by checking for the strings in lowercase. Then apply regex on the text columns of these rows to extract the correct names if present. The regex patterns match sentences like:

- This is [name].
- His name is [name].
- This is named [name].



There tweets were the picture posted are not of dogs and proof of this is can be found in the tweet text. These tweets can be misleading as they have valid ratings and can lead to incorrect analysis. Using re.search() on the tweet text the tweets which are not about dogs can be found and removed. The tweet text not about dogs are such:
- please stop sending in pics of...
- It is not a dog.
- Please only send in dogs. 
- we only rate dogs

Use re.search() on the tweet text to find the tweets that are not about dogs. Create regex pattern for sentences:
- please stop sending in pics of...
- It is not a dog.
- Please only send in dogs. 
- we only rate dogs
Drop the tweets which match the regex pattern.


Convert the datatype of tweet_id column to string type instead of int, since no calculations are to be done on this numerical data.

There is no consistency in the font of the dog breed determined by different algorithms (in some cases the outcome is not a dog breed). This can be fixed by first replacing underscore by space and then calling method title() on the string.

Replace the underscore in the dog breed column by space and then call the method title() on the string for consistency in font.



Concatenate all 4 dog stage columns into a single column 'dog_stage'. This way we can preserve multiple dog stage values in a given row. Then remove the 4 dog stage variable columns.


Combine the *twitter_api_df* table to the `twitter_archive_df` table by calling the merge() method, joining on *tweet_id*, including all the entries from the `twitter_archive_df` table .

Use merge() method to comdine twitter_api_df and twitter_archive_df table, joining on tweet_id, including all the entries from the twitter_archive_df table .




The actual rating for dog is achieved by dividing the column 'rating_numerator' by 'rating_denominator'. So, we can create a column 'rating' by dividing numerator and denominator and later drop these two columns (rating_numerator, rating_denominator).

Divide the column 'rating_numerator' by 'rating_denominator' and save the result in a new column -'rating'. Later drop the columns rating_numerator and rating_denominator from the table.



The columns not required for analysis are best to be removed. This is achieved by using the drop() methid on the dataframe.